* {
  margin: 0;
  padding: 0;
}

.bicicleta-interna {
  background-color: #000000;
  color: #ffffff;
}

header {
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
  display: inline;
  color: #fff;
  font-family: Poppins;
  font-size: 1.125rem;
  line-height: 2rem;
  padding: 15px;
}
