.cor-w0 {
  color: #ffffff;
}

.cor-w1 {
  color: #f7f7f7;
}

.cor-w2 {
  color: #ededed;
}

.cor-w3 {
  color: #dedede;
}

.cor-g1 {
  color: #cccccc;
}

.cor-g2 {
  color: #b2b2b2;
}

.cor-g3 {
  color: #9c9c9c;
}

.cor-g4 {
  color: #717171;
}

.cor-g5 {
  color: #595959;
}

.cor-b1 {
  color: #404040;
}

.cor-b2 {
  color: #2e2e2e;
}

.cor-b3 {
  color: #111111;
}

.cor-4 {
  color: #000000;
}

.cor-p1 {
  color: #ffbb00;
}
